[submodule "raganmd_github/raganmd_github/touchdesigner_yale_workshop_2017"]
	path = raganmd_github/raganmd_github/touchdesigner_yale_workshop_2017
	url = https://github.com/raganmd/touchdesigner_yale_workshop_2017.git
